SERVER_MANAGER_HOST=0.0.0.0
SERVER_MANAGER_PORT=9000
SERVER_MANAGER_ENV=dev
LOG_LEVEL=INFO


SERVICES_CONFIG_PATH=config/services.yaml
SERVICES_SYSTEMD_CONFIGS_PATH=config/systemd-configs

MONITOR_INTERVAL_SECONDS=5

SERVER_MANAGER_TOKEN=change-me